name: Deploy Bot

on:
  push:
    branches:
      - main  # main ブランチに push された時に実行

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GCP
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/DiscordBot
            git pull
            source .venv/bin/activate
            pip install -r requirements.txt
            sudo systemctl restart discord-bot
            # --no-pager をつけることで、フリーズを物理的に防ぎます
            sudo systemctl status discord-bot --no-pager